@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Noto+Serif+Thai&display=swap");

* {
  font-family: "Kanit", sans-serif;
  font-family: "Noto Serif Thai", serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #b4d4ff;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: #eef5ff;
  border-radius: 5%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header {
  background-color: #86b6f6;
  color: white;
  padding: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

header h1 {
  margin: 0;
}

.description {
  color: #fff;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.game-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.secret {
  font-size: 2rem;
  color: #86b6f6;
  margin-right: 1rem;
  border-radius: 50%;
  border: 2px solid #000000;
  border-color: #86b6f6;
  background-color: #fff;
  width: 100px;
  height: 100px;
  line-height: 3.2;
  text-align: center;
}

.guess {
  width: 210px;
  align-items: center;
}

.btn {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.message {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.label-score,
.label-highscore {
  font-size: 1.2rem;
  color: #111;
}

.score,
.highscore {
  font-weight: bold;
  color: #333;
}

.right {
  text-align: center;
}

.left {
  text-align: center;
  align-items: center;
}
