@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap");

body {
  font-family: "IBM Plex Sans Thai", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #330c3b;
}

img {
  width: 70px;
  margin-top: 15px;
}

h1 {
  color: #d6d1bf;
  font-weight: bold;
  margin: 10px 0;
}

th {
  color: #fff;
  font-weight: bold;
  align-items: center;
  text-align: center; 
  vertical-align: middle; 
}

table {
  border-color: #000;
  align-items: center;
  table-layout: fixed; 
}

td {
  background-color: #fff;
  align-items: center;
  text-align: center; 
  vertical-align: middle;
  height: 40px;
}

tr:nth-child(even) td {
  background-color: #A367B1;
}

tr:nth-child(odd) td {
  background-color: #fff;
}